<mat-drawer-container class="example-container" autosize >
  <mat-drawer #drawer class="example-sidenav" mode="side" [opened]="true">
    <div class="logoContainer">
      <p>Auto-resizing sidenav</p>
    </div>
    <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
    <ul>
      <li>Übersicht</li>
      <li>Sparkonto</li>
    </ul>
  </mat-drawer>

  <div class="contentContainer">
    <mat-toolbar class="header">
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon"
        (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Budget Planer</span>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
      </button>
    </mat-toolbar>
    <div class="routerContainer">
      <router-outlet></router-outlet>
    </div>
  </div>

</mat-drawer-container>